.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    min-height: 100vh;
    align-items: center;
    text-align: center;
}

h1{/*  */
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 45px;
}

span{
    color: #FABE24;
}

p{
    color: white;
    font-family: var(--font-main);                                                                                                                  
    margin: 20px;
    font-size: 12px;
}   

.cta-button{
    background-color: white;                                
    border-radius: 40px;
    width: 100px;
    height: 40px;
    font-size: 12px;
    display: flex;                                                  
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
}

.cta-button:hover{
    background-color: #FABE24;
    color: white;
    cursor: pointer;
}

.hero h1 {
    font-size: 2.5rem; 
}

.hamburger {
    display: none;
    }
.menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 3.5rem; 
    }
    .hamburger{
        display: block;
    }
    .menu-toggle:checked ~ nav{
        display:flex;
    }
    .menu-toggle:checked ~ .hamburger{
        position: fixed;
        right: 0px;
        top: 0;
    }
    .menu-toggle:checked ~ nav{
        flex-direction: column;
        position: fixed;
        right: 0px;
        top: 20px;
        background-color: rgb(189, 179, 179);
    }
    nav:hover{
        color: #FABE24;
    }
    .menu nav{
        display: none;;
    }
}

